
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}


.container {
    background: #fff;
    width: 400px;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
}


.form-title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}


.input-group {
    position: relative;
    margin-bottom: 20px;
}

.input-group i {
    position: absolute;
    left: 10px;
    top: 50%;
    transform: translateY(-50%);
    color: #999;
}

.input-group input {
    width: calc(100% - 40px);
    padding: 10px;
    padding-left: 40px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
}

.input-group label {
    position: absolute;
    left: 40px;
    top: 15px;
    color: #999;
    transition: 0.3s;
}


.btn {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #45a049;
}


.or {
    margin-bottom: 20px;
}


.links {
    display: flex;
    justify-content: center;
    align-items: center;
}

.links p {
    margin-right: 10px;
}

.links button {
    padding: 8px 16px;
    background-color: #337ab7;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.links button:hover {
    background-color: #23527c;
}
